<div class="background3">
  <div class="row">
    <div class="col-12">
      <p></p>
      <h1 class="d-flex justify-content-center"><strong class="introduction">ouchi_money</strong></h1>
    </div>
  </div>

    <p></p>

    <div align = "center"><strong class="introduction">このサイトでは、1日使ったお金を記録し、確認できる家計簿アプリです。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction">このアプリで使いすぎを防ぐ事ができます。</strong></div>
    <p></p>
    <div align = "center"><strong class="introduction"> ouchi_moneyを是非、ご活用ください。</strong></div>

</div>